# ----------------------------------------------- #
# Note: this file originates in template-template #
# ----------------------------------------------- #


name: PR

# Concurrency settings ensure only one job runs at a time for a specific combination of Git ref and workflow.
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - edited

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  dependabot:
    # only run for dependabot PRs
    if: github.actor == 'dependabot[bot]'
    uses: mmraisi/template-template/.github/workflows/auto_merge.yml@main
    secrets: inherit
